/*css for login panel*/
* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body {
  	background-color: #435165;
}
.login {
  	width: 400px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}
.login h1 {
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}
.login form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: #3274d6;
  	color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.login form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
 	margin-top: 20px;
  	background-color: #3274d6;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
	background-color: #2868c7;
  	transition: background-color 0.2s;
}

/*css for homepage*/
.navtop {
  background-color: #2f3947;
  height: 60px;
  width: 100%;
  border: 0;
}
.navtop div {
  display: flex;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}
.navtop div h1, .navtop div a {
  display: inline-flex;
  align-items: center;
}
.navtop div h1 {
  flex: 1;
  font-size: 24px;
  padding: 0;
  margin: 0;
  color: #eaebed;
  font-weight: normal;
}
.navtop div a {
  padding: 0 20px;
  text-decoration: none;
  color: #c1c4c8;
  font-weight: bold;
}
.navtop div a i {
  padding: 2px 8px 0 0;
}
.navtop div a:hover {
  color: #eaebed;
}
body.loggedin {
  background-color: #f3f4f7;
}
.content {
  width: 1000px;
  margin: 0 auto;
}
.content h2 {
  margin: 0;
  padding: 25px 0;
  font-size: 22px;
  border-bottom: 1px solid #e0e0e3;
  color: #4a536e;
}
.content > p, .content > div {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  margin: 25px 0;
  padding: 25px;
  background-color: #fff;
}
.content > p table td, .content > div table td {
  padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
  font-weight: bold;
  color: #4a536e;
  padding-right: 15px;
}
.content > div p {
  padding: 5px;
  margin: 0 0 10px 0;
}

/*css for options*/
.optionsPane{
  margin-top: 50px;
  margin-bottom: 20px;
}

.label-toggle {
    background-color: rgb(45.8, 45.8, 45.8);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: block;
    font-weight: 600;
    font-family: Arial, sans-serif;
    padding: 1rem;
    text-align: center;
    transition: background-color 0.45s ease;
    user-select: none;
    margin-bottom: 0px;
}
.label-toggle:hover {
    background-color: darkgrey;
}
/* A little triangle */


.collapse-inner {
    background-color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    color: rgb(53,73,94);
    font-family: 'Droid Sans Mono', monospace;
    padding: 0.1rem 0.3rem;
    text-align: center;
    border: 1px solid grey;
}


.optionItem{
  padding: 15px;
  display: flex;
}

.optionsLabelPane{
  width: 40%;
  padding-right: 20px;
}

.optionsLabel{
  padding: 5px;
  float: right;
}

.optionsInputPane{
  width: 60%;
  padding-left: 20px;
}

.optionsInput{
  width: 80px;
  padding: 5px;
  float: left;
  position: relative;
}

.optionsURLInput{
  width: 80%;
  padding: 5px;
  float: left;
  position: relative;
}

.optionsInputLabel{
  text-align: center;
  padding: 5px;
  float: left;
  position: relative;
}

.optionsRGBPane{
  width: 50%;
  padding-left: 0px;
}

.checkboxThree {
    width: 120px;
    height: 40px;
    background: #333;
    border-radius: 50px;
    position: relative;
}


/**
 * Create the text for the On position
 */
.checkboxThree:before {
    content: 'On';
    position: absolute;
    top: 8px;
    left: 23px;
    height: 2px;
    color: #26ca28;
    font-size: 16px;
}

/**
 * Create the label for the off position
 */
.checkboxThree:after {
    content: 'Off';
    position: absolute;
    top: 8px;
    left: 84px;
    height: 2px;
    color: white;
    font-size: 16px;
}

/**
 * Create the pill to click
 */
.checkboxThree label {
    display: block;
    width: 52px;
    height: 22px;
    border-radius: 50px;

    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 9px;
    z-index: 1;
    left: 12px;
    background: #ddd;
}

/**
 * Create the checkbox event for the label
 */
.checkboxThree input[type=checkbox]:checked + label {
    left: 60px;
    background: #26ca28;
}

.submitBtn{
    cursor: pointer;
    float: left;
    width: 120px;
    height: 40px;
    background-color: rgb(45.8, 45.8, 45.8);
    border-radius: 5px;
    border: transparent;
    color: white;
}
.submitBtn:hover{
  background: #26ca28;
  transition: background-color 0.2s;
}

.copyBtn{
    margin-left: 30px;
    cursor: pointer;
    float: left;
    width: 120px;
    height: 40px;
    background-color: rgb(45.8, 45.8, 45.8);
    border-radius: 5px;
    border: transparent;
    color: white;
    text-align: center;
}
.copyBtn:hover{
  background: #26ca28;
  transition: background-color 0.2s;
}

.newBtn{
    cursor: pointer;
    float: left;
    width: 120px;
    height: 40px;
    background-color: rgb(45.8, 45.8, 45.8);
    border-radius: 5px;
    border: transparent;
    color: white;
    margin-left: 20px;
    text-align: center;
}

.newBtn:hover{
  background: #26ca28;
  transition: background-color 0.2s;
}

/*Notification Bar*/

$success: #2ecc71;
$warning: #e67e22;
$danger: #e74c34;
$grey: #cccccc;

.alert {
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  font-size: 1.5em;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1em;
  width: calc(100% - 100px);
}

@each $name, $color in(
  'success': $success,
  'warning': $warning,
  'danger': $danger
) {
  .alert-#{$name} {
    background-color: $color;
  }
}

button:focus {
  outline: 0;
}

.close {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 2em;
  color: $grey;
  cursor: pointer;
  &:hover {
    color: inherit;
  }
}

.btn {
  border-radius: 5px;
  border: solid 1px #000000;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1em;
  width: 40%;
}

.reset {
  background-color: transparent;
  border: solid 3px $grey;
  color: $grey;
  transition: background-color 0.5s linear 0.1s;
  &:hover {
    background-color: $grey;
    color: white;
  }
}

pre {
  color: white !important;
  padding: 10px;
  margin-top: 30px !important;
  background: #444;
  color: #eee;
  font-size: 15px;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

.idSelector{
  float:left;
  margin-top: 5px;
  width: 120px;
}